@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:wght@400;500&family=Dawning+of+a+New+Day&family=Gwendolyn:wght@400;700&family=Nanum+Myeongjo:wght@400;700;800&display=swap');

/* fonts */
.nanumMyeongjo-light {font-family: 'Nanum Myeongjo', serif; font-weight: 400}
.nanumMyeongjo-regular {font-family: 'Nanum Myeongjo', serif; font-weight: 700}
.nanumMyeongjo-bold {font-family: 'Nanum Myeongjo', serif; font-weight: 800}

.dawningOfANewDay {font-family: 'Dawning of a New Day', cursive}

.gwendolyn-regular {font-family: 'Gwendolyn', cursive; font-weight: 400}
.gwendolyn-bold {font-family: 'Gwendolyn', cursive; font-weight: 700}

.archivoNarrow-regular {font-family: 'Archivo Narrow', sans-serif; font-weight: 400}
.archivoNarrow-bold {font-family: 'Archivo Narrow', sans-serif; font-weight: 500}

/* colors */
.color1 {
    background-color: red;
}

.color2 {
    background-color: blueviolet;
}

.color3 {
    background-color: green;
}

/* navbar */
.container-fluid {
    padding: 1rem;
}

.nav-content {
    padding: 1rem;
}

.nav-item:hover {
    background-color: green;
}

.navbar-logo img {
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.d-flex {
    padding: 2rem;
    padding-left: 3rem;
}

/* basic tags */
p {
    padding: 2rem;
    padding-bottom: 0rem;
}

h1 {
    padding: 2rem;
}

/* structural elements */
.section-header {
    padding: 2rem;
    padding-top: 0rem;
}

.section-divider {
    padding: 1rem;
}

footer {
    padding: 2rem;
}

/* owl carousel */
.owl-dots {
    padding: 2rem;
}

.owl-nav {
    display: none;
}

.img-fluid {
    object-fit: cover;
    height: 15rem;
    width: 30rem;
    aspect-ratio: 1/1;
    padding-left: 5rem;
}

.carousel-img-fluid {
    object-fit: cover;
    height: 30rem;
    aspect-ratio: 1/1;
}

/* gallery */

.gallery-img img {
    object-fit: cover;
    height: 20rem;
    aspect-ratio: 1/1;
}

.card-img-top {
    object-fit: cover;
    height: 20rem;
    aspect-ratio: 1/1;
}

.card-text {
    padding: 2rem;
}