@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Raleway:wght@200;300;600&display=swap');

.bebasNeue {font-family: 'Bebas Neue', sans-serif; font-weight: 400}

.raleway-extra-light {font-family: 'Raleway', sans-serif; font-weight: 200}
.raleway-light {font-family: 'Raleway', sans-serif; font-weight: 300}
.raleway-bold {font-family: 'Raleway', sans-serif; font-weight: 600}

.white-bg {
    background-color: white;
}

.primary-color {
    background-color: #DBE9E7;
}

.primary-color-light, nav .secondary-color-light:hover {
    background-color: #BED8D4;
}

.accordion-button:not(.collapsed) {
    color:9BD7D6;
    background-color: #78D5D7;
}

.primary-color-bg {
    background-color: #E9F1F0;
}

.primary-color-light-bg {
    background-color: #F7F9F9;
}

.secondary-color {
    background-color: #63D2FF;
}

.secondary-color-light {
    background-color: #95E0FF;
}

.secondary-color-bg {
    background-color: #7EDAFF;
}

.secondary-color-light-bg {
    background-color: #9FE3FF;
}

p {
    padding: 2rem;
}

h1 {
    padding: 2rem;
}

.section-header {
    padding: 2rem;
}

.owl-dots {
    padding-top: 2rem;
}

.container-fluid {
    padding: 1rem;
}

.accordion {
    padding: 1rem;
}

.owl-nav {
    display: none;
}

.section-divider {
    padding: 1rem;
}

.gallery-img img {
    object-fit: cover;
    height: 20rem;
    aspect-ratio: 1/1;
}

.card-img-top {
    object-fit: cover;
    height: 20rem;
    aspect-ratio: 1/1;
}

.img-fluid {
    object-fit: cover;
    height: 15rem;
    width: 30rem;
    aspect-ratio: 1/1;
    padding-left: 5rem;
}

.carousel-img-fluid {
    object-fit: cover;
    height: 30rem;
    aspect-ratio: 1/1;
}

footer {
    padding: 2rem;
}